<% provide(:title, @user.name) %>
<h2><% "Welcome, " %></h2>
<h2><%= @user.name %></h2>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
      <h2 class="title is-2 is-spaced has-text-centered">My Events</h2>
      <% @events.each do |event| %>
        <tr>
        <td><%= event.location %></td></br>
        <td><%= event.date %></td></br>
        </tr>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Upcoming Events</h2>
        <td><%= @event.location %></td>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Previous Events</h2>

      </div>
    </div>
  </div>
</div>