<% provide(:title, @user.name) %>
<h2><%= @user.name %></h2>
<%= @events.each do |e| %>
    <tr>
      <td><%= @events %></td>
    </tr>
<% end %>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Upcoming Events</h2>

      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
	<div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2 is-spaced has-text-centered">Previous Events</h2>

      </div>
    </div>
  </div>
</div>